<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{medlemslisteHeading}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filtrer med:</div>
            <div class='col-md-4'>
                <input type="text" />
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h3>Filtrert med: </h3>
            </div>
        </div>
    </div>
    <div class='table-responsive'>
        <table class='table' *ngIf='medlemmer && medlemmer.length'>
            <thead>
                <tr>
                    <th>
                        <button class='btn btn-primary'>
                            Vis bilder
                        </button>
                    </th>
                    <th> Medlem</th>
                    <th>Kategori</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='#medlem of medlemmer'>
                    <td><img [src]='medlem.logoUrl'
                            [title]='medlem.navn'
                            [style.width.px]='iconPxWidth'
                            *ngIf='medlem.logoUrl'></td>
                    <td>{{medlem.navn}}</td>
                    <td><button class='btn btn-secondary' *ngFor='#kategori of medlem.kategorier'>{{kategori.navn}}</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>