<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{medlemslisteHeading}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filtrer med:</div>
            <div class='col-md-4'>
                <input type="text" [(ngModel)]='filter'/>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h3>Filtrert med: {{filter}}</h3>
            </div>
        </div>
    </div>
    <div class='table-responsive'>
        <table class='table' *ngIf='medlemmer && medlemmer.length'>
            <thead>
                <tr>
                    <th>
                        <button class='btn btn-primary' (click)='toggleVisLogo()'>
                            {{!visLogoer ? 'Vis' : "Skjul"}} logoer
                        </button>
                    </th>
                    <th><button type='button' class='btn btn-link' (click)='toggleAscDesc()'>Medlem </button>
                    <img width="20px" src="{{'resources/img/arrow_' + retning + '.png'}}" /></th>
                    <th>Kategori</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='#medlem of medlemmer | medlemsFilter:filter | medlemsSorting:retning'>
                    <td>
                        <b2b-logo *ngIf='visLogoer && medlem.logoUrl'
                            [logoUrl]='medlem.logoUrl' 
                            [title]='medlem.navn'>
                        </b2b-logo>
                    </td>
                    <td>{{medlem.navn}}</td>
                    <td><button class='btn btn-xs btn-distribuert' *ngFor='#kategori of medlem.kategorier'>{{kategori.navn}}</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>